electron_mirror=https://npmmirror.com/mirrors/electron/
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=electron
only-built-dependencies[]=esbuild
only-built-dependencies[]=lzma-native
