@import './base.css';

:root {
  --titlebar-height: 30px; /* 标题栏高度 */
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.slider {
  min-width: 160px;
  height: calc(100vh - 2 * var(--titlebar-height));
  margin-top: var(--titlebar-height);
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow-y: auto;
  overflow-x: hidden;
  /* 确保滚动条不占用额外空间 */
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  border-radius: 12px;
  overflow: hidden;
}

.main-content {
  width: 100%;
  height: 100%;
  background: var(--color-background);
  color: black;

  .main-content-textarea {
    width: 100%;
    height: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    color: #000;
    font-size: 14px;
  }
}

.titlebar {
  -webkit-app-region: drag; /* 整个区域可拖动 */
  height: var(--titlebar-height);
  width: 100%;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}

.titlebar-btn {
  -webkit-app-region: no-drag; /* 按钮不能拖动 */
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0 8px;
}

.titlebar-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.slider-menu {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  border-radius: 6px 0 0 6px
}

.slider-container {
  height: calc(100% - 48px);
  width: 100%;
  overflow: auto;
  padding: 0 4px;
  scrollbar-width: inherit;
  scrollbar-color: #f5f5f5 transparent;
}
