@import './base.css';

:root {
  --titlebar-height: 30px; /* 标题栏高度 */
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.slider {
  width: 80px;
  height: calc(100vh - 2 * var(--titlebar-height));
  margin-top: var(--titlebar-height);
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  border-right: '1px solid #ccc';
  padding: '8px';
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: '#bbb transparent';
}

.main {
  width: 100%;
  height: 100vh;
  border-radius: 12px;
  overflow: hidden;
}

.main-content {
  width: 100%;
  height: 100%;
  background: var(--color-background);
  color: black;

  .main-content-textarea {
    width: 100%;
    height: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    color: #000;
    font-size: 14px;
  }
}

.titlebar {
  -webkit-app-region: drag; /* 整个区域可拖动 */
  height: var(--titlebar-height);
  width: 100%;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}

.titlebar-btn {
  -webkit-app-region: no-drag; /* 按钮不能拖动 */
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0 8px;
}

.titlebar-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
